* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*აყალიბებს, როგორ ითვლება ელსემნტის ზომა*/
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
    line-height: 1.6; /*განსაზღვრავს ხაზებს შორის ვერტიკალურ დაშორებას ტექსტში.*/
}
header {
    background-color: rgb(12, 12, 12);
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(48, 48, 48);
}
.logo {
    font-size: 29px;
    font-weight: 700;
    color: rgb(255, 39, 39);
    letter-spacing: -0.5px; /*განსაზღვრავს სიმბოლოების შორის დაშორებას*/
}
nav ul {
    list-style: none; /*ბულეტების მოშორება*/
    display: flex;
    gap: 30px; /*გვაძლევს შესაძლებლობას, რომ ელემენტებს შორის სივრცე შევქმნათ */
}

nav a {
    text-decoration: none;
    color: rgb(177, 177, 177);
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover {
    color: rgb(255, 39, 39);
}

.products {
    padding: 80px 60px;
    background-color: rgb(19, 19, 19);
    text-align: center;
}

.products h2 {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 40px;
    color: rgb(255, 39, 39);
}

.product-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*მოვიძიე, ეგუება ეკრანის ზომას, თითოეული სვეტი უნდა იყოს მინიმმ 250px და მაქსიმუმ იმდენი სივრცე, რამდენსაც მიიღებს 1fr */
    gap: 40px; /*გვაძლევს შესაძლებლობას, რომ ელემენტებს შორის სივრცე შევქმნათ */
}

.product-card {
    background-color: rgb(20, 20, 20);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 12px rgba(255, 51, 51, 0.1);
}

.product-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(255, 51, 51, 0.2);
}

.product-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.product-card h3 {
    font-size: 18px;
    color: white;
    margin-bottom: 8px;
}

.product-card p {
    font-size: 16px;
    color: rgb(255, 39, 39);
    font-weight: bold;
}

footer {
    background-color: rgb(26, 26, 26);
    color: rgb(146, 146, 146);
    text-align: center;
    padding: 30px 0;
    font-size: 16px;
    border-top: 1px solid rgb(49, 48, 48);
}
