.p{
    display: inline;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: 600;
}
.btn{
    background-color: rgb(255, 179, 3);
    border: 2px solid black;
    border-radius: 5px;
    color: black;
}
input{
    border: 2px solid black;
    border-radius: 3px;
    background-color: aquamarine;
}
