body{
    background-color: yellowgreen;
}
img{
    border: 8px solid black;
    border-radius: 9px;
}
button{
    background-color: black;
    color: white;
    border: 5px solid white;
    border-radius: 9px;
    
}
h1{
    color: white;
    font-family: cursive;
    font-size: x-large;
    font-weight: 600;
}