body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
}

.container {
    background: white;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

.player {
    width: 250px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.player:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.info {
    margin-top: 20px;
    text-align: left;
    padding: 15px;
}


