body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
    color: black;
}

nav {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: white;
    box-shadow: (0 2px 5px black);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid black;
    color: black;
}

.btn.primary {
    background-color: black;
    color: white;
    border: none;
}

.hero {
    padding: 50px 20px;
    margin-top: 20px;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    color: rgb(143, 130, 130);
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.site img {
    width: 80%;
    max-width: 800px;
    margin: 20px 0;
}
